:root {
  --color-bg: black;
  --color-text-primary: white;

  font-family: system-ui, sans-serif;
  line-height: 1.5;

  color: var(--color-text-primary);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

a {
  color: inherit;
}
